
*.jpg
sources.bib.bak
a.bat
abcl.jar
Animals/animal-checklist.html
Animals/guessing_game.lisp
Animals/Hanoi.lisp
Animals/JPenrod_AnimalProgram.zip
Animals/MyAnimalData.lisp
Animals/state.lisp
animals_backup.lisp
balenaEtcher-Setup-1.5.29-x64.exe
Bosco et al 2015-Proceedings Emotion and Sentiment in AI.pdf
Clark Elliott and Greg Siegle, Intensity Variables.pdf
Class 2 Notes CSC 594.gdoc
Class.bib
Class.bib.bak
Clips/apg.pdf
Clips/bpg.pdf
Clips/ig.pdf
Clips/ug.pdf
CSC435 Elliott.html
ebaa99.html
EmotionTable2016.html
EmotionVariables.html
enclosure-picroft-stretch.zip
FeltEmotions.pdf
guessing_game.lisp
Ideas File.gdoc
JabRef_windows-x64_4_3_1.exe
JPenrod_Forums_Assignment.docx
LibrarySourcesWalkthroughB.pdf
main.bib
MatchA.pptx
MorphingTheMonster.html
notes
Ochs2012_Article_AFormalModelOfEmotionsForAnEmp.pdf
PointOfView.pdf
PowerPoints/CategorizationInEmotionH.pptx
PowerPoints/ContentTheoryC.pptx
PowerPoints/ElliottContentTheoryEmotionD.pptx
practicals-1.0.3.zip
Question Answer Spreadsheet.gsheet
RunningAnimal.txt
Scholarly/Checklist-Scholarly.html
Scholarly/JPenrod_ScholarlyCitations.zip
Scholarly/MySources.xml
Scholarly/ScholarlySources.docx
Simplified Common Lisp reference.html
Simplified Common Lisp reference_files/sclrprint.css
source2.bib
sources.bib
sources2.xml
sports.bib
sports.bib.bak
via downloads.jabref.org
